<% content_for :js do -%>
  Helpers.focusOnLoad('<%= resource_name %>_email');
<% end -%>

<h2>Admin Sign In</h2>

<% semantic_form_for resource_name, resource, :url => session_path(resource_name) do |form| %>
  <% form.inputs do -%>
    <%= form.input :email %>
    <%= form.input :password %>
    <% if devise_mapping.rememberable? -%>
      <%= form.input :remember_me, :as => :boolean, :required => false %>
    <% end -%>
  <% end -%>
  
  <% form.buttons do -%>
    <%= form.commit_button :label => 'Sign In' %>
  <% end -%>
<% end %>
  
<%= render :partial => "shared/devise_links" %>