<% 
  add_js_include('jquery.autoSuggest.packed')
  add_css_include('autoSuggest')
%>

<% content_for :domready do -%>
  $('#dataset_title').focus();
	var upload_manager = new UploadManager($('#pending_files'), <%= @dataset.attachments.count %>, <%= @max_files %>);
	upload_manager.addElement($('#new_attachment'), 'dataset');
	
	$("#dataset_tag_list").autoSuggest(<%= @tags.to_json %>, {preFill: <%= @current_tags.to_json %>, asHtmlID: "tag_list", startText: '', neverSubmit: true});
	$("#dataset_standard_list").autoSuggest(<%= @standards.to_json %>, {preFill: <%= @current_standards.to_json %>, asHtmlID: "standard_list", startText: '', neverSubmit: true});
	$("#dataset_certification_list").autoSuggest(<%= @certifications.to_json %>, {preFill: <%= @current_certifications.to_json %>, asHtmlID: "certification_list", startText: '', neverSubmit: true});

  $("#dataset_form").submit(function() { prepAutoSuggestForm(['tag_list', 'standard_list', 'certification_list']); });
<% end -%>

  <% form.inputs do -%>
    <%= form.input :title %>
    <%= form.input :description %>
    <%= form.input :start_date, :required => false, :hint => 'mm/dd/YYYY' %>
    <%= form.input :end_date, :required => false, :hint => 'mm/dd/YYYY' %>

    <%= form.label 'Data File(s) *' %>
    <div id="file_upload">
    	<p class="inline-hints">
    	  You can add up to <%= @max_files %> files of 50 MB each.<br />
    	  Allowed types: pdf, csv, txt, xml, rdf, kml, kmz.
    	</p>
      <input id="new_attachment" type="file" />
    	<ul id="pending_files">
    	  <% form.semantic_fields_for :attachments do |attachment| -%>
    	    <% if attachment.object.id -%>
      	    <li id="attachment_<%= attachment.object.id %>">
      	      <%= link_to(attachment.object.attachment_file_name, attachment.object.attachment.url, :target => :_blank) %>
      	      <%= attachment.check_box :_destroy %><%= attachment.label :_destroy, :label => 'Remove' %>
      	    </li>
      	  <% end -%>
        <% end -%>
    	</ul>
    </div>
    <div class="clear"></div>

    <%= form.input :screenshot, :hint => 'Square images will look best' %>
    <% if form.object.screenshot_file_name -%>
      <p class="standalone"><%= image_tag form.object.screenshot.url(:thumb) %></p>
    <% end -%>
    <%= form.input :category, :as => :select, :collection => Configs.select_lists['dataset_categories'].list %>
    <%= form.input :tag_list, :as => :string, :label => 'Tags', :required => false, :hint => 'Try to reuse tags for maximum usability. Separate with comma or tab.' %>
    <%= form.input :standard_list, :as => :string, :label => 'Standards', :required => false %>
    <%= form.input :certification_list, :as => :string, :label => 'Certifications', :required => false %>
    <%= form.input :is_featured, :required => false, :label => 'Featured on home page' %>
  <% end -%>
	
  <% form.buttons do -%>
    <%= form.commit_button %> or <%= link_to 'cancel', @dataset.new_record? ? datasets_path : dataset_path(@dataset) %>
  <% end -%>

