<% 
  set_page_title h(@dataset.title)
  add_js_include 'http://platform.twitter.com/widgets.js'
-%>
<% content_for :domready do -%>
  $("#nav_datasets_link").addClass("selected");
  $("#dataset_downloads a").tooltip({ effect: 'slide', offset: [12, 0]}).dynamic();
  $("#dataset_downloads a").click(function() {
    $.post('<%= count_download_dataset_path(@dataset) %>', function(data) {
      $("#download_count").html(parseInt($("#download_count").html())+1);
    });
  });
<% end -%>

<div id="sidebar">
  <%= render :partial => 'sidebar', :locals => {:category => @dataset.category, :tags => @tags} %>
  <% if admin_signed_in? -%>
    <h2 class="section_head pencil">Admin</h2>
    <ul>
      <li><%= link_to 'Edit Dataset', edit_dataset_path(@dataset) %></li>
      <li><%= link_to 'Delete Dataset', dataset_path(@dataset), :method => :delete, :confirm => 'This will permanently destroy the dataset and its associated files. Are you sure?' %></li>
    </ul>
  <% end -%>
  <div class="box" id="social_badges">
    <div class="contents">
      <h3>Share This Dataset</h3>
      <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="SeventhGen">Tweet</a></p>
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= u(request.url) %>&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px; margin-top:10px;" allowTransparency="true"></iframe>
    </div>
  </div>
  
</div>

<div id="primary">
  <h2 class="section_head download">Selected Dataset</h2>
  <div class="box_header">
    <h2 id="dataset_name"><%=h @dataset.title %></h2>
    <h2 id="dataset_date_range"><%= format_timerange(@dataset.start_date, @dataset.end_date) %></h2>
  </div>

  <div class="box">
    <ul class="dataset_stats inline">
      <li>
        <h5>RELEASED</h5>
        <%= format_date(@dataset.created_at) %>
      </li>
      <li>
        <h5>UPDATED</h5>
        <%= format_date(@dataset.last_uploaded_at) %>
      </li>
      <% unless @dataset.standard_list.empty? -%>
        <li>
          <h5>STANDARDS</h5>
          <%=h @dataset.standard_list %>
        </li>
      <% end -%>
      <% unless @dataset.certification_list.empty? -%>
        <li class="last">
          <h5>CERTIFIED BY</h5>
          <%=h @dataset.certification_list %>
        </li>
      <% end -%>
    </ul>
    <div class="clear_left"></div>
  </div>

  <div class="plain_box">
    <div id="dataset_desc">
      <%= image_tag @dataset.screenshot.url(:thumb) %>
      <%=h @dataset.description %>
    </div>
    <div class="clear_left"></div>
    <% unless @dataset.category.blank? and @dataset.tag_list.blank? -%>
      <ul class="dataset_stats inline" id="dataset_taxonomy">
        <% unless @dataset.category.blank? -%>
          <li>
            <h5>CATEGORY</h5>
            <%= link_to(h(category_name(@dataset.category)), dataset_category_path(@dataset.category)) %>
          </li>
        <% end -%>
        <% unless @dataset.tag_list.blank? -%>
          <li class="last">
            <h5>TAGS</h5>
            <%= @dataset.tags.map { |tag| link_to(h(tag.name), tagged_datasets_path(tag.slug)) }.join(', ') %>
          </li>
        <% end -%>
      </ul>
      <div class="clear_left"></div>
    <% end -%>
  </div>

  <div id="dataset_downloads" class="box">
    <h2 class="section_head download"><span id="download_counter"><span id="download_count"><%= @dataset.download_count %></span> downloads</span>Download This Data</h2>
    <ul class="inline">
      <% @dataset.attachments.each do |a| -%>
        <li>
          <%= link_to file_extension(a.attachment_file_name).upcase, a.attachment.url, :class => 'download_button' %>
          <div class="tooltip">
            <dl class="inline">
              <dt>File:</dt>
              <dd><%=h truncate(a.attachment_file_name,20) %></dd>
              <dt>Date:</dt>
              <dd><%= format_date(a.attachment_updated_at) %></dd>
              <dt>Size:</dt>
              <dd><%= number_to_human_size(a.attachment_file_size) %></dd>
            </dl>
          </div>
        </li>
      <% end -%>
    </ul>
    <div class="clear_left"></div>
    <p>This data is available free of charge under an <%= link_to 'open source license', license_path %>.</p>
  </div>

  <h2 class="section_head pencil"><%= link_to 'Submit your application of this data &raquo;', new_app_path, :id => 'new_app_link' %>Applications Of This Data</h2>
  <% if @dataset.apps.size > 0 -%>
    <% @dataset.apps.each_with_index do |app,i| -%>
      <div class="box dataset_two_col<%= i > 0 && ((i+1) % 2) == 0 ? ' last' : '' %>">
        <%= link_to image_tag(app.screenshot.url(:thumb), :class => 'thumb'), app.application_link, :class => "clear", :target => "_blank" %>
        <div class="contents">
          <h3><%= link_to h(app.title), app.application_link, :target => "_blank" %></h3>
          <p>by <%= app.author_link.blank? ? h(app.submitter_name) : link_to(h(app.submitter_name), app.author_link, :target => '_blank') %></p>
        </div>
      </div>
    <% end -%>
    <div class="clear_left"></div>
  <% else -%>
    <div class="box">
      <div class="contents">
        <p>None yet. Have one? <%= link_to 'Let us know.', new_app_path %></p>
      </div>
    </div>
  <% end -%>

  <h2 class="section_head comment">Discussion &amp; Suggestions</h2>
  <div class="box">
    <div class="contents">
      <%= render :partial => '/shared/disqus' %>
    </div>
  </div>

</div>
