<% set_page_title h(@dataset.title) -%>

<% content_for :domready do -%>
  $("#dataset_downloads a").tooltip({ effect: 'slide'}).dynamic();
  $("#dataset_downloads a").click(function() {
    $.post('<%= count_download_dataset_path(@dataset) %>', function(data) {
      $("#download_count").html(parseInt($("#download_count").html())+1);
    });
  });
<% end -%>

<h1 class="section_head">Selected Dataset</h1>
<h1 id="dataset_title"><%=h @dataset.title %></h1>
<h2 id="dataset_date_range"><%= format_timerange(@dataset.start_date, @dataset.end_date) %></h2>

<dl id="dataset_stats">
  <dt>RELEASED</dt>
  <dd><%= format_date(@dataset.created_at) %></dd>
  <dt>UPDATED</dt>
  <dd><%= format_date(@dataset.last_uploaded_at) %></dd>
  <% unless @dataset.standard_list.empty? -%>
    <dt>STANDARDS</dt>
    <dd><%=h @dataset.standard_list %></dd>
  <% end -%>
  <% unless @dataset.certification_list.empty? -%>
    <dt>CERTIFIED BY</dt>
    <dd><%=h @dataset.certification_list %></dd>
  <% end -%>
</dl>

<div id="dataset_description">
  <%=h @dataset.description %>
</div>

<% unless @dataset.category.blank? and @dataset.tag_list.blank? -%>
<dl id="dataset_taxonomy">
  <% unless @dataset.category.blank? -%>
    <dt>CATEGORY</dt>
    <dd><%= link_to(h(category_name(@dataset.category)), dataset_category_path(@dataset.category)) %></dd>
  <% end -%>
  <% unless @dataset.tag_list.blank? -%>
    <dt>TAGS</dt>
    <dd><%= @dataset.tags.map { |tag| link_to(h(tag.name), tagged_datasets_path(tag.slug)) }.join(',') %></dd>
  <% end -%>
</dl>
<% end -%>

<h1 class="section_head"><span id="download_counter"><span id="download_count"><%= @dataset.download_count %></span> Downloads</span>Download This Data</h1>
<ul id="dataset_downloads">
  <% @dataset.attachments.each do |a| -%>
    <li class="button">
      <%= link_to(file_extension(a.attachment_file_name).upcase, a.attachment.url) %>
      <div class="tooltip">
        <dl class="inline">
          <dt>File:</dt>
          <dd><%=h a.attachment_file_name %></dd>
          <dt>Date:</dt>
          <dd><%= format_date(a.attachment_updated_at) %></dd>
          <dt>Size:</dt>
          <dd><%= number_to_human_size(a.attachment_file_size) %></dd>
        </dl>
      </div>
    </li>
  <% end -%>
</ul>
<p>This data is available free of charge under an <%= link_to 'open source license', license_path %>.</p>

<h1 class="section_head">Applications Of This Data</h1>

<h1 class="section_head">Discussion &amp; Suggestions</h1>
<%= render :partial => '/shared/disqus', :locals => {:page_id => "#{dataset_path(@dataset)}"} %>

<% if admin_signed_in? -%>
  <%= link_to 'Edit', edit_dataset_path(@dataset) %><br />
  <%= link_to 'Delete', dataset_path(@dataset), :method => :delete, :confirm => 'This will permanently destroy the dataset and its associated files. Are you sure?' %><br />
<% end -%>
<%= link_to '&laquo; Back to datasets', datasets_path %>