<h2 class="section_head info">Learn More</h2>
<div class="box <%= columns %>_two_col">
  <div class="contents">
    <h3><%= link_to 'Corporate Responsibility Report', 'http://www.seventhgeneration.com/corporate-responsibility/2008', :target => '_blank' %></h3>
    <p>We take corporate social responsibility seriously.</p>
    <p><%= link_to 'Read our report &raquo;', 'http://www.seventhgeneration.com/corporate-responsibility/2008', :target => '_blank' %></p>
  </div>
</div>
<div class="box <%= columns %>_two_col last">
  <div class="contents">
    <h3><%= link_to 'Visit Seventh Generation', 'http://www.seventhgeneration.com/seventh-generation-mission', :target => '_blank' %></h3>
    <p>There's much more to learn on our site. Stop by anytime!</p>
    <p><%= link_to 'Visit our site &raquo;', 'http://www.seventhgeneration.com/seventh-generation-mission', :target => '_blank' %></p>
  </div>
</div>
