<% set_page_title 'Home' -%>

<div id="headline">
  <p class="big">
    Our <%= link_to 'data', datasets_path %> wants to be <%= link_to 'open', about_path %>.<br />
    Use it to <%= link_to 'make', apps_path %> something.<br />
    How about a web app,<br />
    visualization, or case study?
  </p>
  <p><%= link_to 'Learn More &raquo;', about_path, :class => 'button' %></p>
</div>

<h2 class="section_head download"><%= link_to 'View all &raquo;', datasets_path, :class => 'view_all' %>Featured Datasets</h2>
<% @datasets.each_with_index do |dataset,i| -%>
  <div class="box home_three_col<%= i > 0 && i % 2 == 0 ? ' last' : '' %>">
    <%= link_to image_tag(dataset.screenshot.url(:thumb), :class => 'thumb'), dataset_path(dataset), :class => "clear" %>
    <h3><%= link_to h(dataset.title), dataset_path(dataset) %></h3>
    <% unless dataset.tag_list.blank? -%>
      <p>Tags: <%= dataset.tags.map {|tag| link_to h(tag.name), tagged_datasets_path(tag.slug) }.join(', ') %></p>
    <% end -%>
  </div>
<% end -%>
<div class="clear"></div>

<h2 class="section_head pencil"><%= link_to 'View all &raquo;', apps_path, :class => 'view_all' %>Featured Applications</h2>
<% @apps.each_with_index do |app,i| -%>
  <div class="box home_three_col<%= i > 0 && i % 2 == 0 ? ' last' : '' %>">
    <%= link_to image_tag(app.screenshot.url(:thumb), :class => 'thumb'), app.application_link, :target => :_blank, :class => "clear" %>
    <h3><%= link_to h(app.title), app.application_link, :target => :_blank %></h3>
    <p>by <%= app.author_link.blank? ? h(app.submitter_name) : link_to(h(app.submitter_name), app.author_link, :target => '_blank') %></p>
  </div>
<% end -%>
<div class="clear"></div>

<%= render :partial => '/shared/learn_more', :locals => {:columns => 'home'} %>
<div class="clear"></div>
