<% content_for :domready do -%>
  $('#app_title').focus();
<% end -%>

<% form.inputs do -%>
  <%= form.input :title %>
  <%= form.input :description %>
  <%= form.input :application_link, :label => 'Application website' %>
  <%= form.input :submitter_name, :label => 'Author name' %>
  <%= form.input :submitter_email, :label => 'Author email', :hint => 'Will not be published or shared' %>
  <%= form.input :author_link, :label => 'Author website', :required => false, :hint => 'If different from application site' %>
  <%= form.input :datasets, :as => :check_boxes %>
  <%= form.input :screenshot %>
  <% if form.object.screenshot_file_name -%>
    <p class="standalone"><%= image_tag form.object.screenshot.url(:thumb) %></p>
  <% end -%>
  <% if admin_signed_in? -%>
    <%= form.input :is_featured, :required => false, :label => 'Featured on home page' %>
    <%= form.input :is_published, :required => false, :label => 'Published' %>
  <% end -%>
<% end -%>

<% form.buttons do -%>
  <%= form.commit_button %> or <%= link_to 'cancel', apps_path %>
<% end -%>
