<% set_page_title 'Applications' -%>
<% content_for :domready do -%>
  $("#nav_apps_link").addClass("selected");
<% end -%>

<% if admin_signed_in? and @pending_apps.size > 0 -%>
  <h1>Pending Applications</h1>
  <ul>
    <% @pending_apps.each do |app| -%>
      <li>
        <%= image_tag app.screenshot.url(:thumb) %>
        <%= link_to h(app.title), app.application_link, :target => :_blank %>
        <%= link_to 'Edit', edit_app_path(app) %>
        <%= link_to 'Delete', app_path(app), :method => :delete, :confirm => 'This will permanently delete the application listing from the site. Are you sure?' %>
      </li>
    <% end -%>
  </ul>
<% end -%>

<h1>Applications</h1>
<ul>
  <% @apps.each do |app| -%>
    <li>
      <%= image_tag app.screenshot.url(:thumb) %>
      <%= link_to h(app.title), app.application_link, :target => :_blank %>
      <% if admin_signed_in? -%>
        <%= link_to 'Edit', edit_app_path(app) %>
        <%= link_to 'Delete', app_path(app), :method => :delete, :confirm => 'This will permanently delete the application listing from the site. Are you sure?' %>
      <% end -%>
    </li>
  <% end -%>
</ul>

<p><%= link_to 'Add Your Application', new_app_path %></p>
