<% set_page_title 'Applications' -%>
<% content_for :domready do -%>
  $("#nav_apps_link").addClass("selected");
<% end -%>

<div id="sidebar">
  <h2 class="section_head comment">Share</h2>
  <div class="box">
    <div class="contents">
      <h3><%= link_to 'Have an app to share?', new_app_path %></h3>
      <p>Have you built something with one of our datasets?</p>
      <p><%= link_to 'Let us know', new_app_path %> and we'll publish a link on this page.</p>
    </div>
  </div>
</div>

<div id="primary">
  <% if admin_signed_in? && @pending_apps.size > 0 -%>
    <h2 class="section_head pencil">Pending Applications</h2>
    <div class="dataset_list">
      <%= render :partial => 'list', :locals => {:apps => @pending_apps } %>
    </div>
  <% end -%>

  <h2 class="section_head pencil">Applications</h2>
  <div class="dataset_list">
    <%= render :partial => 'list', :locals => {:apps => @apps } %>
    <% if @apps.size == 0 -%>
      <p>Nothing yet, check back soon...</p>
    <% end -%>
  </div>

  <%= render :partial => '/shared/learn_more', :locals => {:columns => 'dataset'} %>
  <div class="clear_left"></div>
</div>