<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Open Data Platform<%= " &mdash; #{page_title}" if page_title %></title>
	<script type="text/javascript">
  	//<![CDATA[
  	<% unless ie6? -%>var IE7 = false;<% end %>
  	//]]>
	</script>
	<%= stylesheets %>
	<%= javascripts %>
	<% unless @rss_feeds.blank? -%>
		<% @rss_feeds.each do |feed| -%>
			<%= auto_discovery_link_tag :rss, feed[:url], :title => feed[:title] %>
		<% end -%>
	<% end -%>
	<script type="text/javascript">
  	//<![CDATA[
  	<%= yield :js %>
  	$(document).ready(function() {
  	  $("#header ul.nav a").mouseover(function () {
  	    $(this).addClass("button");
  	  });
  	  $("#header ul.nav a").mouseout(function () {
  	    $(this).removeClass("button");
  	  });
  	  $("#nav_updates_link").overlay({
  	    top: 150,
  	    mask: { color: '#000000', opacity: 0.6 }
      });
      $("#email_signup_form").submit(function() {
        $.post('<%= email_signup_path %>', 
                $(this).serialize(), 
                function(data) {
                  $("#flash_signup_form_error").remove();
                  $("#updates_form_header").hide();
                  if (data.success)
                    $("#email_signup_form").hide();
                  $("#email_signup_form").before(data.msg);
                  $("#flash_signup_form_error a.close_box").remove();
                },
                "json"
              );
        return false;
      });
    	<%= yield :domready %>
  	});
  	//]]>
	</script>
	<style type="text/css">
	  <%= yield :css %>
	</style>
</head>
<body>
<% if RAILS_ENV == 'production' -%>
	<script src="<%= request.ssl? ? "https://ssl." : "http://www." %>google-analytics.com/urchin.js" type="text/javascript"></script>
	<script type="text/javascript">
	  //<![CDATA[
		_uacct = "UA-";
		urchinTracker();
  	//]]>
	</script>
<% end -%>
<div id="header_container">
  <div id="meta_header">
    <ul class="inline">
      <li><%= link_to 'About the Open Data Project', about_path %></li>
      <li><%= link_to 'Open Data Project Participants', participants_path %></li>
    </ul>
    <h3><%= link_to 'Open Data Project', root_path %></h3>
    <div class="clear"></div>
  </div>
</div>

<div id="body_container">
  <div id="header">
    <ul class="inline nav">
      <li><%= link_to 'Datasets', datasets_path, :id => 'nav_datasets_link' %></li>
      <li><%= link_to 'Applications', apps_path, :id => 'nav_apps_link' %></li>
      <li><%= link_to 'News', news_path, :id => 'nav_news_link' %></li>
      <li><%= link_to 'Get Updates', '#', :id => 'nav_updates_link', :rel => '#updates_form' %></li>
      <!-- <li><%= link_to 'Join Us', '', :id => 'nav_join_link' %></li> -->
      <% if admin_signed_in? -%>
        <li><%= link_to 'Logout', destroy_admin_session_path %></li>
      <% end -%>
    </ul>
    <%= link_to image_tag('logo.png'), root_path, :class => 'clear' %>
  </div>

  <div id="flashes" style="display:none;">
  	<%= standard_flashes %>
  </div>

  <div id="content" class="page_container">
  	<%= yield %>
    <div class="clear"></div>
  </div>
</div>

<div id="footer_container">
  <div id="footer">
    <div class="block">
      <h3>About the Open Data Project</h3>
      <p>Help us build more environment- ally and socially sustainable businesses based on open approaches to information.</p>
      <p><%= link_to 'LEARN MORE &raquo;', about_path, :class => 'action' %></p>
    </div>
    <% if @press_preview.size > 0 -%>
      <div class="block">
        <h3>Latest News</h3>
        <ul id="latest_news_list">
          <% @press_preview.each do |press| -%>
            <li><%= link_to h(press.title), press.link, :target => '_blank' %></li>
          <% end -%>
        </ul>
        <p><%= link_to 'VIEW ALL &raquo;', news_path, :class => 'action' %></p>
      </div>
    <% end -%>
    <div class="block">
      <h3>Contact Us</h3>
      <%= render :partial => '/shared/press_contact' %>
      <p><%= link_to 'EMAIL US &raquo;', contact_path, :class => 'action' %></p>
    </div>
    <div class="block last">
      <h3>Steal This Site!</h3>
      <p>
        The <%= link_to 'datasets', datasets_path %> on this site, as well as the <%= link_to 'source code', 'http://github.com/mattolson/open-data', :target => '_blank' %>
        for the site available to you free of charge under an <%= link_to 'open source license', license_path %>. Fork us on GitHub and publish your own data!
      </p>
      <p><%= link_to 'DOWNLOAD SOURCE CODE &raquo;', 'http://github.com/mattolson/open-data', :class => 'action', :target => '_blank' %></p>
    </div>
    <div class="clear"></div>
    <div id="partners">
      <h3>
        <ul class="inline">
          <li><%= link_to image_tag('partners/svg.png'), 'http://www.seventhgeneration.com', :class => 'clear', :target => '_blank' %></li>
          <li><%= link_to image_tag('partners/ceres.png'), 'http://www.ceres.org', :class => 'clear', :target => '_blank' %></li>
          <li><%= link_to image_tag('partners/csrwire.png'), 'http://www.csrwire.com', :class => 'clear', :target => '_blank' %></li>
        </ul>
        A SPECIAL THANKS TO THE<br />OPEN DATA PROJECT PARTNERS:
      </h3>
    </div>
  </div>
</div>

<div id="updates_form">
  <div id="updates_form_header">
    <h2>Stay Informed</h2>
    <p>Sign up for our email list, and we'll send you occasional updates. We'll never send spam or share your address with anyone else.</p>
  </div>
  <% semantic_form_for @signup_form, :url => email_signup_path, :html => {:id => 'email_signup_form'} do |form| %>
    <% form.inputs do -%>
      <%= form.input :email, :label => "Email Address" %>
    <% end -%>

    <% form.buttons do -%>
      <%= form.commit_button :label => "Signup" %>
    <% end -%>
  <% end %>
</div>
</body>
</html>
